body
  font-family: "Helvetica Neue", Helvetica, sans-serif
  font-weight: 200


nav.menu-bar h1.logotype a
  font-weight: 500

header nav.menu-bar h1.logotype a
  color: $object-color
  @include frob-when-frobbed
    color: $accent-color

section h1
  font-weight: 500

section h2
  font-weight: 500

footer nav.menu-bar h1.logotype a
  color: $subject-color
  @include frob-when-frobbed
    color: $accent-color


.index header
  background-image: linear-gradient(to right, white 0%, rgba(white, 0.0) 100%)

.index header nav.menu-bar h1.logotype a
  color: $accent-color

.index main
  padding-bottom: 0
  display: flex
  flex-direction: column
  justify-content: flex-end

.index main:before
  $format: svg
  @if $mode == pub
    $format: "svg.gz"
  background-image: image-url(hands-#{$subject-color-name}, 1x, $format)
  background-position: center center
  background-size: 100% auto
  background-repeat: no-repeat
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -1
  content: ""

.index section.level1
  @include rule-before($accent-color)
  background: rgba(white, 0.8)
  padding-top: ln(1)
  padding-bottom: ln(3)


.cv section blockquote
  margin-top: 0

.cv section blockquote p
  margin-top: 0
