body
  font-family: "futura-ligh", sans-serif

h1
  font-family: "futura-medi", sans-serif


header nav h1 a
  color: $gray6

footer nav h1 a
  color: $gray9


.index header
  background-image: linear-gradient(to right, white 0%, rgba(white, 0.0) 100%)

.index main
  padding-bottom: ln(2)
  display: flex
  flex-direction: column
  justify-content: flex-end
  position: relative

.index main:before
  @include image(hands-grayC, svg)
  background-position: center center
  background-size: 100% auto
  background-repeat: no-repeat
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -1
  content: ""
