body
  font-family: "Helvetica Neue", Helvetica, sans-serif


nav h1
  font-weight: bold

header nav h1 a
  color: $gray6

footer nav h1 a
  color: $gray9


.index header
  background-color: rgba(white, 0.8)

.index main
  position: relative

.index main:before
  @include image(hands-gray9, svg)
  background-position: center bottom
  background-size: 100% auto
  position: absolute
  bottom: ln(3)
  left: 0
  right: 0
  width: 100%
  height: 100%
  z-index: -1
  content: ""
